
.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.header {
  background-color: #565656;
  font-size: 3rem;
  font-weight: 900;
  color: transparent;
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.playContainer .countContainer, .playContainer  {
	display: flex;
	align-items: center;
	justify-content: center;
}
.countContainer {
	flex-direction: column;
	margin-left: 2rem;
}
.countContainer div {
	background: var(--grey2);
	width: 100%;
	color: var(--grey1);
	font-size: 1.5rem;
	font-weight: 700;
	padding: 1rem;
	border: 1px solid #E6E6E6;
	box-shadow: 0 2px 4px 0 rgba(166,166,166,0.50);
	cursor: pointer;
}
.playContainer p {
	margin-left: 2rem;
	padding: 1rem;
}
.setup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.setup button {
	width: 100%;
	text-align: left;
}
.setup button, .setup a {
	margin: 8px;
	padding: 8px;
}
.middle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	height: 10vh;
}

.page {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.15);
	width: 90vw;
	max-width: 900px;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*
.questions-page {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.15);
	width: 90vw;
	max-width: 900px;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	display: grid;
}
*/

/*
.f32 {
	display: grid;
}
*/

.st-flags {
	display: flex;
	margin-bottom: 4rem;
	flex-wrap: wrap;
	margin: 0 2rem 4rem 2rem;
}

.button {
	background: var(--grey2);
	color: var(--grey1);
	font-size: 2rem;
	font-weight: 700;
	padding: 4rem;
	border: 1px solid #E6E6E6;
	box-shadow: 0 2px 4px 0 rgba(166,166,166,0.50);
	cursor: pointer;
}

.button:hover, .countContainer div:hover {
	background: #E6E6E6;
}

.btn-square {
	padding: 4rem;
}

.link {
	color: blue;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
}

.result {
	display: grid;
	width: 80%;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
}
.result h5 {
	grid-column: 1/3;
	justify-self: center;
}
.result div {
	display: flex;
	height: fit-content;
	justify-self: center;
}

.result p {
	padding: 0.5rem;
	display: flex;
	align-items: center;
}

.result span {
	color: purple;
	font-size: 30px;
	padding: 0.5rem;
}

.alternatives {
	margin-top: 2rem;
	/* This was added */
	display: grid;
	grid-template-columns: 100px 100px;
  	grid-template-rows: 80px 80px; 
  	column-gap: 150px;
  	row-gap: 50px;
	justify-items: center;
	align-items: start;
	justify-content: space-around;
}


.alt {
	background: #F0F0F0;
	border: 1px solid #E6E6E6;
	/*margin: 1rem;*/
	width: 230px;
	max-width: 700px;
	height: 100px;
	text-align: center;
	padding: 0.9rem;
	font-size: 1.6rem;
	position: relative;
}

.alt-green {
	color: #ffffff;
	background: #38B134;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
}
.alt-red {
	color: #ffffff;
	background: #B13434;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
}
.alt-label {
	position: absolute;
	right: -10px;
	top: 1rem;
	color: #ffffff;
	font-size: 1.2rem;
	background: #3E3E3E;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.15);
	border-radius: 24.5px;
	padding: 0.2rem 1rem;
}

.quick-results {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 700;
	background: #3E3E3E;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.15);
	border-radius: 24.5px;
	padding: 0.7rem 2rem;
}

.results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.re-text {
	font-size: 2.5rem;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.2);
	margin: 2rem 1rem;
	text-align: center;
}
.re-home {
	margin-top: 2rem;
}

.cookie-banner {
	align-items: center;
	background-color: #348934;
	bottom: 0;
	color: white;
	display: flex;
	flex-direction: column;
	height: 7rem;
	justify-content: center;
	width: 100vw;
	padding: 3rem;
	position: absolute;
	z-index: 100;
}

.banner-buttons {
	display: flex;
	justify-content: space-between;
	width: 10rem;
}

.banner-button {
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0.5rem 1rem;
}

.cookie-info-wrapper {
	display: grid;
	place-items: center;
}

.info-box {
	background-color: #afafaf;
	padding: 2rem;
	margin-bottom: 3rem;
}

.advanced-setup-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 40rem;
}

.advanced-setup-table {
	border-collapse: collapse;
	border-spacing: 4rem;
	margin-bottom: 4rem;
}

td {
	text-align: center;
	height: 3rem;
	width: 10rem;
}

.profile-cap {
	text-align: left;
}

select {
	border-radius: 5px;
	color: white;
	outline: none;
	border: none;
	font-weight: bold;
	padding: 0.2rem 0.5rem;
}

.back-button {
	background-color: #565656;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	outline: none;
	border: none;
	font-weight: bold;
	padding: 0.2rem 0.5rem;
}